@import './editor/style_panel';
@import './editor/timer_panel';

.ninja_countdown_editor {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    .wpp_section_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #38393a;
        padding: 10px 15px;

        .wpp_section_title{
            color: #fff;
            font-size: 16px;
            .ninja_countdown_editor_header_editing {
                max-width: 400px;
                .el-input {
                    display: inline-block;
                    width: 300px;
                }
                button {
                    display: inline-block;
                }
            } 
        }

        .wpp_section_logo {
            .wpp_upgrade_logo {
              color: white;
            }
        }
    }
    .ninja_countdown_editor_body{
        width:100%;
        .ninja_countdown_preview {
            width: 69%;
            margin: 10px;
            min-height: 450px;
            float: left;
            background: #fff;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .main_items{
                .centered-counter-timer{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .ninja_countdown_settings {
            width: 29%;
            margin-top: 10px;
            float: right;
        }
    }
}
  
@media (max-width: 600px) {
    .ninja_countdown_editor {
        .ninja_countdown_preview {
            width: 100%;
            > div {
                padding: 2em !important;
            }
        }
        .ninja_countdown_settings {
            width: 100%;
        }
    }
}

.ninja_countdown_settings{
    .header{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .settings_panel{
        margin-top:15px;
        .el-tabs{
            background: #38393a;
        }
        .el-tabs__header{
            background: #38393a;
            color:#fff;
            border-bottom:2px solid #000;
            .el-tabs__nav-scroll{
                border-bottom:2px solid #000;
            }
            .el-tabs__item{
                color: #fff;
                &.is-active{
                    color: #36a0e7;
                    background-color: #38393a;
                    border-right-color: #38393a;
                    border-left-color: #38393a;
                    border-bottom: 2px solid #36a0e7;
                }
            }
        }
    }
}
.icon-style {
    i{
        margin-right:5px;
    }
}