.ninja_countdown_settings_wrapper {
    display: table;
    width: 100%;
    min-height: 550px;
    -webkit-box-shadow: 0 0 4px 1px rgb(0 0 0 / 8%);
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 8%);
    border-radius: 3px;
    background:#fff;
    margin-top:15px;
    .ninja_settings_panel {
        background: #fff;
        padding: 15px 25px;
        .ninja_header_text{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.setting_header, .admin_menu_header {
    border-bottom: 1px solid #e0dbdb;
    margin-bottom: 15px;

    h2 {
        margin: 10px 0;
    }
}

.form_item {
    margin-bottom: 10px;
    > label {
        font-size: 15px;
        line-height: 30px;
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
    }
}
.el-text-info {
    color: #58B7FF;
}